
  html {
    overflow-y: scroll;
    scrollbar-color: #ff3d4f transparent;
    scrollbar-width: thin;
  }
  html::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
  html::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #191a1c;
    border-radius: 0;
  }
  html::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #ff3d4f;
  }
