// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "mixin.scss";
:root {
/* Цвета */
	--red: #ff3d4f;
	--yellow: #ffdb66;
	--blue: #0cc7dd;
	--black: #000000;
	--dark-gray: #191a1c;
	--dark-gray2: #1d1e20;
	--gray:#323232;
	--gray2:#9da1a5;
	--gray3:#555;
	--white: #ffffff;
/* Шрифты */
	--Saira:'Saira', sans-serif;
	--Nunito: 'Nunito', sans-serif;
	--Roboto:  'Roboto', sans-serif;

}
.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid var(--white);
    border-radius: 50%;
    position: absolute;
    margin: 5px 0 0 5px;
    left: -100px;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 99;
	
    // transition-duration: 200ms;
	&:after {
		content: "";
		width: 5px;
		height: 5px;
		top: 5px;
		left: 5px;
		position: absolute;
		border: 8px solid gray;
		border-radius: 50%;
		opacity: .5;
		animation: cursorAnim2 .5s infinite alternate;
	}
	@keyframes cursorAnim{
		0%{
			transform: scale(1.1);
		}
		100%{
			transform: scale(1.5);
		}
	}
	@keyframes cursorAnim2{
		0%{
			transform: scale(1);
		}
		100%{
			transform: scale(0.4);
		}
	}	
}
html{
	font-size: 10px;
	font-family: var(--Roboto);
    &::-webkit-scrollbar {
        display: none;
    }
}
body{
    background-color: #191a1c;
	background-image: url(../images/bg/bg-paterns.png),url("../images/bg/line-maker.svg");
	background-position: 50% 0%, 1.3% 100%;
	background-repeat: repeat-y, repeat;
	position: relative;
    height: 100%;
	color: var(--white);
    
}
html,
body{
	height: auto;
}
.welcome{
	position: absolute;
	background: var(--dark-gray) url(../images/bg/line-maker.svg) center center repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
	height: 100vh;
	width: 100%;
	font-weight: 800;
	overflow: hidden;
    &.active{
        margin-top: -100vh;
        transition: 1s;
    }
    & p{
       opacity: 0.2;
       font-size: 30rem;
       text-transform: uppercase;
       color: var(--gray);
       font-family: var(--Saira);
        & .active{
            animation: 2s btnWel forwards;
            opacity: 0.2;
        }
        @include md{
            font-size: 15rem;
        }
        @include sm{
            font-size: 10rem;
        }
        @include xs{
            font-size: 6rem;
        }
    }
    & .intro{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        & .welcomeBtn{
            overflow: hidden;
            position: relative;
            font-family: var(--Saira);
            text-transform: uppercase;
            border: 2px solid var(--white);
            padding: 25px 45px;
            font-weight: bold;
            letter-spacing: 6px;
            font-size: 1.2rem;
            background: rgba(0, 0, 0, .0);
            color: var(--white);
            cursor: crosshair;
            transition: 0.8s ease-out;
            z-index: 1;
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                background: var(--white);
                display: block;
                width: 100%;
                height: 100%;
                margin-bottom: -50%;
                transition: 1s;
                z-index: -1;
            }
            &.active{
                opacity: 1;
                animation: 2s btnWel forwards;
            }
			@keyframes btnWel{
				0%{
					margin-top: 0px;
				}
				50%{
					margin-top: -150px;
					opacity: 0;
				}
				100%{
					margin-top: -200vh;
					opacity: 0;
				}
			}
            &:hover{
                color: var(--black);
                &::before{
                    margin-bottom: 0% !important;
                    transition: 1.5s;
                }
            }
        }
    }
	& .crossing{
		position: absolute;
		background: var(--red);
		width: 100%;
		height: 5px;
		top: 100vh;
		&.active{
			top: 0vh;
			height: 100vh;
			transition: 0.5s;			
		}
	}
}
.wrap{
    height: 100vh;
    overflow: auto;
	position: relative;
	cursor: url('../images/cursor8x8.cur') 7 7, auto;
}
.header{
	width: 100%;
	height: 100vh;
	position: relative;
	& #fixedBar{
		position: fixed;
		width: 100%;
		z-index: 9;
	}
	&::after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(23, 22, 24, 1);
		z-index: -2;
	}
	&::before{
		content: "";
		background: transparent url(../images/headerbg.jpg) center center/cover no-repeat;
		opacity: 0.4;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: -1;
	}
	&__top{
		padding: 0px 15px 0;
		height: 70px;
		align-content: center;
		&__logo {
			padding: 0;
			& img{
				position: relative;
				z-index: 100;
				margin-top: 1px;
				width: 100px;
			}
		}
		&-bar{
			text-align: right;
			padding: 0;
			 & .nav{
				&__row{
					@include sm{
						padding-left: 30px;
						padding-right: 30px;
					}
				}
				& > div{
					font-size: 1.6rem;
					position: absolute;
					text-align: left;
					top: 0px;
					right: 0px;
					width: 100%;
					height: 100vh;
					clip-path: circle(0px at calc(100% - 45px) 45px);
					z-index: 12;
					transition: all 0.5s ease 0s;					
				}
				&__radius{
					&-wrap{
						display: flex;
						justify-content: center;
						align-items: center;
						background: url(../images/bg/bg-paterns.png);
						height: 100vh;						
					}
					&.active{
						background: var(--dark-gray);
						clip-path: circle(100%);						
					}
					& li{
						& .number{
							display: inline;
							font-size: 1.6rem;
							color: var(--gray2);
							opacity: 0.5;
							font-weight: 600;
							margin-right: 10px;						
						}
						& .link{
							display: block;
							padding: 10px 0;
							font-size: 4rem;
							font-family: var(--Nunito);
							color: var(--gray2);
							text-decoration: none;
							cursor: pointer;
						}
						&:hover .number,
						&:hover .link{
							color: var(--red);
							transition: all 0.2s ease 0s;
						}
					}
				}
				&__menu{
					height: 396px;
					overflow: auto;
					& span::after{
						content: "\f103";
						margin-left: 5px;
						font-weight: 900;
						font-family: "Font Awesome 6 Free";
						font-size: 1.6rem;
						line-height: 4rem;
					}
					& li:hover > a,
					& li:hover > span{
						color: var(--red);
						transition: all 0.2s ease 0s;						
					}
					&-link{
						display: block;
						padding: 10px 0;
						font-size: 4rem;
						font-family: var(--Nunito);
						color: var(--gray2);
						text-decoration: none;
						cursor: pointer;
					}			
				}
				&__submenu{
					display: block;
					position: static;
					width: auto;
					overflow: hidden;
					border: none;
					margin: 0!important; 
					max-height: 0;   
					transition: max-height 1s;
					& a{
						display: block;
						font-size: 3.6rem;
						text-decoration: none;
						margin-left: 20%;
						padding: 10px 0;						
					}
					&.active{
						max-height: 1000px;
					}
					& li:hover a{
						color: var(--red);
						transition: all 0.2s ease 0s;						
					}
					&-link{
						display: block;
						padding: 10px 0;
						font-size: 4rem;
						font-family: var(--Nunito);
						color: var(--gray2);
						text-decoration: none;
						cursor: pointer;
					}
				}
				&__address{
					text-align: right;
					display: flex;
					height: 100%;
					flex-direction: column;
					flex-wrap: nowrap;
					justify-content: center;
					text-transform: uppercase;
					@include sm{
						display: none;
					}
					& h3{
						font-size: 2rem;
						font-family: var(--Saira);
						margin: 20px 0;
						font-weight: 600;
					}
					& p{
						font-size: 1.2rem;
						font-family: var(--Nunito);
						color: #e0e0e0;
					}				
				}
				&__red.active{
					background: var(--red);
					clip-path: circle(100%);
				}
			}
		}
	}
	&__center{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		&__name{
			position: relative;
			font-size: 2rem;
			color: var(--gray2);
			padding: 0 30px;
			& p::before{
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 0.5rem;
				margin-top: -0.15rem;
				width: 1.5rem;
				height: 0.3rem;
				background: var(--gray);
			}
		}
		&__prof{
			margin: 20px 0 30px;
			& #element{
				font-family: var(--Saira);
				font-size: 8rem;
				text-transform: uppercase;
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px #ffffff;

				@include md{
					font-size: 7rem;
				}
				@include sm{
					font-size: 6rem;
				}
				@include xs{
					font-size: 5rem;
				}
				@include xxs{
					font-size: 4rem;
				}
			}
		}
	}
	&__bottom{
		position: absolute;
		text-align: right;
		bottom: 20px;
		left: 0;
		width: 100%;
		@include sm{
			left: -50px;
		}
		&__mouse{
			position: relative;
			display: inline-block;
			& a{
				display: inline-block;
				& .mouse{
					position: relative;
					width: 20px;
					height: 35px;
					border: 3px solid #fff;
					border-radius: 15px;
					animation: 2s mouse infinite;
					&::before{
						content: "";
						width: 3px;
						height: 5px;
						background: #fff;
						position: absolute;
						border-radius: 1px;
						top: 25%;
						left: 50%;
						margin-left: -1.5px;
					}
				}	
			}
			& .line{
				&__point{
					position: absolute;
					top: -20px;
					right: 10px;
					display: inline-block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #fff;					
				}
				&__dashed{
					position: absolute;
					top: -20px;
					right: 12.5px;
					border-right: 1px dashed #fff;
					height: 80px;					
				}
			}
			
		}
		@keyframes mouse{
			0%,60%,80%,100%{
				transform: translateY(0);
			}
			20%{
				transform: translateY(-5px);
			}
			40%{
				transform: translateY(20px);
			}
		}	
	}
}
.position{
	font-size: 1.6rem;
	color: #fff;
	&__wrap{
		margin-top: 10px;
	}
	&__item{
		border-left: 3px solid var(--gray);
		display: inline-block;
		margin-right: 20px;
		padding-left: 10px;
		@include sm{
			display: block;
			margin-top: 5px;
		}
		& p{
			padding: 5px 0;
			font-family: var(--Saira);
			&.country{
				color: var(--gray2);
			}
			&.city{
				padding-left: 15px;
			}
		}
	}
}
section{
	margin-top: 60px;
	position: relative;
	width: 100%;
	&:before{
		content: "";
		position: absolute;
		width: 1px;
		height: 40px;
		top: -40px;
		left: 50%;
		background: var(--red);
	}
	& h2{
		display: inline-block;
		font-size: 3.5rem;
		font-family: var(--Nunito);
		color: #9da1a5;
		position: relative;
		margin-bottom: 60px;
		&::after{
			content: '';
			position: absolute;
			bottom: -10px;
			right: 15px;
			width: 25px;
			height: 4px;
			border-radius: 0px 0 0 4px;
			background: var(--red);			
		}
		&::before{
			content: '';
			position: absolute;
			bottom: -10px;
			right: 0px;
			width: 10px;
			height: 4px;
			border-radius: 0px 4px 0 0px;
			background: var(--red);			
		}
	}
}
.about{
	&__wrap{
		display: flex;
		align-items: center;
		& .avatar{
			
			@include xs{
				padding: 0 30px;
			}
			&__wrap{
				border: 1px solid var(--gray);
				background: var(--dark-gray);
				box-sizing: border-box;
				padding: 20px;
				position: relative;
				margin: 0 auto;
				&::before{
					content: "";
					background: url(../images/bg/about-shape.svg) no-repeat;
					position: absolute;
					width: 300px;
					height: 300px;
					bottom: -32px;
					left: 7px;
					animation: 2s puls infinite;
				}
				&::after{
					content: "";
					position: absolute;
					width: 300px;
					height: 5px;
					bottom: 20px;
					left: 20px;
					z-index: 2;
					background: var(--red);
				}
				@keyframes puls{
					0%{
						opacity: 1;
					}
					50%{
						opacity: 0.5;
					}
					100%{
						opacity: 1;
					}
				}
			}
			&__img{
				width: 100%;
				position: relative;
				z-index: 1;
			}
		}
		& .text{
			margin-left: 20px;
			@include md{
				margin-top: 25px;
				margin-left: 0px;
			}
			@include xs{
				padding: 0 30px;
			}
			& h3{
				font-size:2.8rem;
				font-family: var(--Saira);
				margin-bottom: 20px;
				font-weight: 600;
			}
			& > p{
				color: var(--gray2);
				font-family: var(--Nunito);
				font-size: 1.6rem;
				margin-bottom: 30px;
				padding-right: 50px;
				line-height: 3.2rem;
			}
			&__design{
				& .name{
					display: flex;
					justify-content: space-between;
					color: var(--gray2);
					font-size: 1.4rem;
					font-family: var(--Saira);
					font-weight: bold;
				}
				& .line{
					width: 100%;
					height: 3px;
					background: var(--gray3);
					margin: 30px 0;
					& .progress{
						background: var(--red);
						height: 3px;
						width: 0%;
					}
				}
			}
		}
	}
}
.link{
	position: relative;
	display: inline-flex;
	align-items: center;
	height: 45px;
	text-decoration: none;
	border: 1px solid var(--gray3);
	color: var(--gray2);
	font-weight: 500;
	font-size: 1.3rem;
	padding: 0px 30px;
	font-family: var(--Saira);
	box-sizing: border-box;
	&::after{
		content: '';
		position: absolute;
		z-index: 2;
		width: 0%;
		height: 0%;
		top: -1px;
		left: 1px;
		box-sizing: border-box;
		border-top: 0px solid var(--red);
		border-right: 1px solid var(--red);
	}
	&::before{
		content: '';
		position: absolute;
		z-index: 2;
		width: 0%;
		height: 0%;
		bottom: -1px;
		right: 1px;
		box-sizing: border-box;
		border-bottom: 0px solid var(--red);
		border-left: 1px solid var(--red);	
	}
	&:hover{
		&::after{
			animation: 0.5s borderAf forwards;
		}
		&::before{
			animation: 1s borderBe forwards;
		}
		@keyframes borderAf{
			0%{
				border-top-width: 1px;
				width:0%;
			}
			50%{
				border-top-width: 1px;
				width: 100%;
				height: 0%;
			}
			100%{
				border-top-width: 1px;
				width: 100%;
				height: 100%;
			}
		}
		@keyframes borderBe{
			0%{
			}
			50%{
				border-bottom-width: 1px;
				width:0%;
			}
			75%{
				border-bottom-width: 1px;
				width: 100%;
				height: 0%;		
			}
			100%{
				border-bottom-width: 1px;
				width: 100%;
				height: 100%;
			}
		} 
	}
}
.services{
	&__item{
		position: relative;
		display: block;
		text-decoration: none;
		font-size: 1.6rem;
		color: var(--gray2);
		font-family: var(--Nunito);
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid var(--gray);
		width: 95%;
		height: 100%;
		margin: 0 auto;
		box-shadow: 0px 9px 31px 6px rgb(0 0 0 / 20%);
		background: var(--dark-gray);
		&:hover{
			background: rgba(25, 26, 28, 0.3);
			transition: 0.5s;
			& img{
				opacity: 0.5;
				transition: 0.5s;
			}
		}
		& img{
			width: 50px;
			height: auto;
			margin-bottom: 15px;
		}
		& h3{
			font-size: 2rem;
			color: var(--white);
			font-weight: bold;
			font-family: var(--Saira);
			margin-bottom: 15px;
		}
		& p{
			line-height: 2.7rem;
		}
	}
	&__client{
		border: 25px solid var(--dark-gray2);
		box-sizing: border-box;
		padding: 40px;
		margin-top: 60px;
		background: var(--dark-gray);
		@include sm{
			margin-left: 30px;
			margin-right: 30px;
		}
		&-wrap{
			margin: 10px;
		}
		&-row{
			flex-direction: row;
			@include sm{
				flex-direction: column;
			}
		}
		&-item{
			border-right: 1px solid rgba(255, 255, 255, .1);
			text-align: center;
			@include sm{
				border-right: none;
				border-bottom: 1px solid rgba(255, 255, 255, .1);
				padding-bottom: 20px;
			}
			&:last-child{
				border: none;
			}
			& span{
				display: block;
				position: relative;
				font-size: 4rem;
				font-family: var(--Nunito);
				margin: 20px 0;
				color: var(--gray2);
				&::after{
					content: '+';
					position: absolute;
					top: 50%;
					margin-top: -1.05rem;
					color: var(--red);
					font-size: 2.1rem;
				}				
			}
			& p{
				font-family: var(--Saira);
				font-weight: bold;
				font-size: 2rem;
			}
		}
	}
}
.global-pos{
	@include sm{
		padding: 0 30px;
	}
	&:nth-child(2){
		margin-top: 20px;
		@include sm{
			margin-top: 0px;
		}
		& .global-pos__item{
			background: var(--dark-gray2);
		}
	}
	&:nth-child(2n+1){
		margin-bottom: 20px;
		@include sm{
			margin:10px 0;

		}
		& .global-pos__item{
			background: var(--dark-gray);
		}
	}
	&__item{
		box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
	}
}
.projects{
	&__content{
		&-item{
			overflow: hidden;
			margin-bottom: 30px;
			padding: 0 15px;
			position: relative;
			&:hover{
				& img{
					filter: blur(5px);
					transition: 0.4s;
				}
				& .overlay{
					opacity: 1;
					background: rgba(50, 50, 50, .4);
					transition: 0.4s;			
				}
				& .bottom{
					margin-bottom: -100px;
					transition: 0.3s;
				}
			}
			& .overlay{
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				opacity: 0;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				transition: 0.4s;
				& .look{
					display: block;
					background: rgba(5, 5, 5, .4);
					color: #fff;
					padding: 10px;
					font-size: 2rem;
					border-radius: 50%;
				}
			}
			& .bottom{
				position: absolute;
				bottom: 30px;
				left: 45px;
				& h4{
					font-size: 2rem;
					font-weight: 600;
					line-height: 1.4;
					font-family: var(--Saira);
					margin-bottom: 1.5rem;
				}
				& p{
					font-size: 1.5rem;
					font-weight: 500;
					color: var(--gray2);
					font-family: var(--Saira);				
				}
			}
		}
		&-img{
			overflow: hidden;
			position: relative;
			height: 100%;
			width: 100%;
			& > a{
				display: block;
				position: relative;
				width: 100%;
				height: 100%;
			}
			& img{
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}
	& .first_tier{
		& > div{
			height: 465px;
		}
	}
	& .second_tier{
		& > div{
			height: 435px;
		}
	}
}
.resume{
	&__col{
		&:nth-child(1){
			& .resume__item,
			& .line{
				border-top:3px solid var(--red);
			}
		}		
		&:nth-child(2){
			& .resume__item,
			& .line{
				border-top:3px solid var(--yellow);
			}
		}
		&:nth-child(3){
			& .resume__item,
			& .line{
				border-top:3px solid var(--blue);
			}
		}

	}
	&__item{
		position: relative;
		display: block;
		text-decoration: none;
		font-size: 1.6rem;
		color: var(--gray2);
		font-family: var(--Nunito);
		padding: 30px;
		box-sizing: border-box;
		width: 95%;
		height: 100%;
		margin: 0 auto;
		box-shadow: 0px 9px 31px 6px rgb(0 0 0 / 20%);
		background: var(--dark-gray);
		&::before{
			content: "";
			width: 90%;
			height: 30%;
			position: absolute;
			right: -25px;
			bottom: -30px;
			z-index: -1;
			background: url(../images/icon/dot-pattern.png) right;
			background-size: 10px;
			opacity: 0;
			transition: all 0.5s ease 0s;			
		}
		&:hover{
			transition: 0.5s;	
			& img{
				opacity: 0.5;
				transition: 0.5s;
			}
			&::before{
				transition: all 0.5s ease 0s;
				opacity: 1;				
			}		
		}
		&.active{
			&::before{
				transition: all 0.5s ease 0s;
				opacity: 1;
			}			
		}
		& img{
			width: 50px;
			height: auto;
			margin-bottom: 15px;			
		}
		& h3{
			font-size: 2rem;
			color: var(--white);
			font-weight: bold;
			font-family: var(--Saira);
			margin-bottom: 15px;
		}
		& h4{
			color: var(--white);
			font-weight: 600;
			margin: 20px 0 10px;
			font-size: 1.7rem;
		}
		& p{
			line-height: 3rem;
			font-weight: 400;
		}
		& .line{
			margin: 30px 0 20px;
			width: 100px;	
		}
	}
}
.teamiteam{
	font-size: 1.6rem;
	&__col{
		box-sizing: border-box;
		margin: 0;
		padding: 10px;
		@include sm{
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	&__item{
		&-img{
			position: relative;
			overflow: hidden;
			padding: 0;
			margin: 0;
			&:hover{
				& img{
					filter: blur(5px);
					transition: all 0.5s ease 0s;
				}
				& .soc{
					bottom: 20px;
					transition: all 0.5s ease 0s;
				}
			}
			& img{
				width: 100%;
			}
			& .soc{
				position: absolute;
				bottom: -40px;
				left: 0;
				width: 100%;
				transition: all 0.5s ease 0s;
				& ul{
					display: flex;
					justify-content: space-around;
					& li{
						background: #1a1a1a;
						height: 40px;
						width: 40px;
						line-height: 40px;
						margin-left: 5px;
						margin-right: 5px;
						border-radius: 4px;
						transition: all 0.5s ease 0s;
						&:hover{
							background: var(--red);
							transition: all 0.5s ease 0s;
						}
						& a{
							display: block;
							width: 100%;
							text-align: center;
							color: #fff;
						}					
					}
				}
			}
		}
	}
	&__info{
		padding: 20px 0 20px 20px;
		& p{
			padding-bottom: 10px;
			font-weight: bold;	
			&.name{
				font-size: 2rem;
			}
			&.profession{
				color: var(--gray2);
			}		
		}
	}
}
.soc{
	& ul{
		display: flex;
		justify-content: center;
		& li{
			background: var(--dark-gray2);
			height: 40px;
			width: 40px;
			line-height: 40px;
			margin-left: 5px;
			margin-right: 5px;
			border-radius: 4px;
			transition: all 0.5s ease 0s;
			font-size: 1.6rem;
			&:hover{
				background: var(--red);
				transition: all 0.5s ease 0s;
			}
			& a{
				display: block;
				width: 100%;
				text-align: center;
				color: #fff;
			}					
		}
	}	
}
.blogs{
	&__col{
		&:nth-child(1) > div::before{
			border-color: var(--red);
		}
		&:nth-child(2) > div::before{
			border-color: var(--yellow);
		}
		&:nth-child(3) > div::before{
			border-color: var(--blue);
		}
	}
	&__item{
		position: relative;
		&:hover{
			&::before{
				width: 100%;
				transition: all 0.5s ease 0s;
			}
		}
		&::before{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			border-bottom: 3px solid #333;
			transition: all 0.5s ease 0s;
		}
		&-img{
			position: relative;
			width: 100%;
			height: 235px;
			overflow: hidden;
			display: flex;
			align-items: center;
			&:hover{
				&::before{
					left: 175%;
					transition: all 1s ease 0s;
				}
			}
			&::before{
				cursor: pointer;
				position: absolute;
				top: 0;
				left: -75%;
				z-index: 2;
				display: block;
				content: '';
				width: 50%;
				height: 100%;
				background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
				background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
				-webkit-transform: skewX(-25deg);
				transform: skewX(-25deg);			
			}
			& img{
				object-fit: cover;
				width: 100%;
			}
		}
	}
	&__info{
		font-size: 1.6rem;
		padding: 10px 20px;
		& a{
			text-decoration: none;
			color: var(--white);
			transition: all 0.5s ease 0s;
			&:hover{
				color: var(--red);
				transition: all 0.5s ease 0s;
			}
			& h3{
				margin: 10px 0;
				font-size: 2rem;
				font-family: var(--Saira);
				font-weight: bold;
			}
		
		}
		& p{
			line-height: 2;
			word-spacing: 0.4rem;
			padding-right: 14px;
			font-family: var(--Nunito);
			color: var(--gray2);
			font-weight: 600;
		}
	}
}
.touch{
	&__row{
		text-align: center;
		padding: 0;
	}
	&__wrap{
		box-sizing: border-box;
		border: 1px solid var(--gray);
		width: 90%;
		height: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 1.6rem;
		padding: 20px;
		@include sm{
			width: 100%;
		}
		& > div{
			margin-bottom: 20px;
		}
		& h3{
			font-weight: bold;
			text-transform: uppercase;
			margin: 10px 0;			
		}
		& p,
		& li{
			color: var(--gray2);
		}
		& span{
			display: block;
		}
	}
	&__form{
		& input,
		& textarea{
			margin-top: 20px;
			background: transparent;
			border: 1px solid var(--gray);
			text-align: center;
			width: 100%;
			font-size: 1.6rem;
			font-family: var(--Nunito);
			padding: 15px 0;
			outline: var(--red);
			color: #fff;
		}
		& textarea{
			width: 100%;
			resize: none;
			height: 103px;
		}
		& .btn{
			margin-top: 10px;
			position: relative;
			padding: 10px 50px;
			background: var(--red);
			color: #fff;
			border: none;
			font-family: var(--Nunito);
			font-weight: bold;
			font-size: 1.8rem;
			background-image: linear-gradient(#222, #222);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			transition: background-size .5s, color .5s;
			&:hover{
				background-size: 0% 100%;
			}
			& i{
				font-size: 1.4rem;
			}
		}
	}
	&__soc{
		margin: 60px 0;
	}
}
.footer{
    overflow-x: hidden;
	position: relative;
	font-family: var(--Saira);
	font-size: 1.6rem;
	background: #222;
	border-top: 1px solid var(--gray);
	padding: 20px 0;
	&::after{
		content: "";
		width: 80px;
		height: 2px;
		background: var(--red);
		position: absolute;
		top: -1px;
		left: 0;
		animation: 10s run_line infinite;
		@keyframes run_line {
			0%{
				left: -10%;
			}
			50%{
				left: 150%;
			}
			100%{
				left: 150%;
			}
		}
	}
	&__row{
		align-items: center;
		& .email{
			text-align: right;
			& p{
				display: inline-block;
			}
			&__wrap{
				display: inline-block;
				position: relative;
				& label{
					position: absolute;
					top: 50%;
					right: 10px;
					font-size: 1.6rem;
					margin-top: -0.8rem;
					color: var(--gray3);
				}
				& input{
					background: transparent;
					padding: 10px 5px;
					border: 1px solid var(--gray);
				}
			}
		}
	}
}
@include xxl{
	.container{
		width: 1140px;
	}
}

.nav__icon {
	z-index: 100;
    height: 36px;
    display: flex;
    padding: 0px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
	& span{
		display: block;
		position: absolute;
		height: 3px;
		width: 20px;
		background: #fff;
		opacity: 1;
		left: 10px;
		margin-top: 8px;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		transform-origin: left center;
		&:nth-child(1){
			top: 0px;
		}
		&:nth-child(2){
			top: 8px;
			left: 2px;
		}
		&:nth-child(3){
			top: 16px;
		}
	}
	&.open{
		& span{
			&:nth-child(1){
				transform: rotate(45deg);
				top: 0px;
				left: 9px;
			}
			&:nth-child(2){
				width: 0%;
				opacity: 0;
			}
			&:nth-child(3){
				transform: rotate(-45deg);
				top: 14px;
				left: 9px;
			}	
		}
	}
}


