@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* Цвета */
  --red: #ff3d4f;
  --yellow: #ffdb66;
  --blue: #0cc7dd;
  --black: #000000;
  --dark-gray: #191a1c;
  --dark-gray2: #1d1e20;
  --gray:#323232;
  --gray2:#9da1a5;
  --gray3:#555;
  --white: #ffffff;
  /* Шрифты */
  --Saira:"Saira", sans-serif;
  --Nunito: "Nunito", sans-serif;
  --Roboto: "Roboto", sans-serif;
}

.cursor {
  width: 30px;
  height: 30px;
  border: 1px solid var(--white);
  border-radius: 50%;
  position: absolute;
  margin: 5px 0 0 5px;
  left: -100px;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 99;
}
.cursor:after {
  content: "";
  width: 5px;
  height: 5px;
  top: 5px;
  left: 5px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  animation: cursorAnim2 0.5s infinite alternate;
}
@keyframes cursorAnim {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
  }
}

html {
  font-size: 10px;
  font-family: var(--Roboto);
}
html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #191a1c;
  background-image: url(../images/bg/bg-paterns.png), url("../images/bg/line-maker.svg");
  background-position: 50% 0%, 1.3% 100%;
  background-repeat: repeat-y, repeat;
  position: relative;
  height: 100%;
  color: var(--white);
}

html,
body {
  height: auto;
}

.welcome {
  position: absolute;
  background: var(--dark-gray) url(../images/bg/line-maker.svg) center center repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  height: 100vh;
  width: 100%;
  font-weight: 800;
  overflow: hidden;
}
.welcome.active {
  margin-top: -100vh;
  transition: 1s;
}
.welcome p {
  opacity: 0.2;
  font-size: 30rem;
  text-transform: uppercase;
  color: var(--gray);
  font-family: var(--Saira);
}
.welcome p .active {
  animation: 2s btnWel forwards;
  opacity: 0.2;
}
@media (max-width: 991px) {
  .welcome p {
    font-size: 15rem;
  }
}
@media (max-width: 767px) {
  .welcome p {
    font-size: 10rem;
  }
}
@media (max-width: 575px) {
  .welcome p {
    font-size: 6rem;
  }
}
.welcome .intro {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.welcome .intro .welcomeBtn {
  overflow: hidden;
  position: relative;
  font-family: var(--Saira);
  text-transform: uppercase;
  border: 2px solid var(--white);
  padding: 25px 45px;
  font-weight: bold;
  letter-spacing: 6px;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0);
  color: var(--white);
  cursor: crosshair;
  transition: 0.8s ease-out;
  z-index: 1;
}
.welcome .intro .welcomeBtn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--white);
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: -50%;
  transition: 1s;
  z-index: -1;
}
.welcome .intro .welcomeBtn.active {
  opacity: 1;
  animation: 2s btnWel forwards;
}
@keyframes btnWel {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: -150px;
    opacity: 0;
  }
  100% {
    margin-top: -200vh;
    opacity: 0;
  }
}
.welcome .intro .welcomeBtn:hover {
  color: var(--black);
}
.welcome .intro .welcomeBtn:hover::before {
  margin-bottom: 0% !important;
  transition: 1.5s;
}
.welcome .crossing {
  position: absolute;
  background: var(--red);
  width: 100%;
  height: 5px;
  top: 100vh;
}
.welcome .crossing.active {
  top: 0vh;
  height: 100vh;
  transition: 0.5s;
}

.wrap {
  height: 100vh;
  overflow: auto;
  position: relative;
  cursor: url("../images/cursor8x8.cur") 7 7, auto;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
}
.header #fixedBar {
  position: fixed;
  width: 100%;
  z-index: 9;
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(23, 22, 24);
  z-index: -2;
}
.header::before {
  content: "";
  background: transparent url(../images/headerbg.jpg) center center/cover no-repeat;
  opacity: 0.4;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.header__top {
  padding: 0px 15px 0;
  height: 70px;
  align-content: center;
}
.header__top__logo {
  padding: 0;
}
.header__top__logo img {
  position: relative;
  z-index: 100;
  margin-top: 1px;
  width: 100px;
}
.header__top-bar {
  text-align: right;
  padding: 0;
}
.header__top-bar .nav > div {
  font-size: 1.6rem;
  position: absolute;
  text-align: left;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: circle(0px at calc(100% - 45px) 45px);
          clip-path: circle(0px at calc(100% - 45px) 45px);
  z-index: 12;
  transition: all 0.5s ease 0s;
}
.header__top-bar .nav__radius-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/bg/bg-paterns.png);
  height: 100vh;
}
.header__top-bar .nav__radius.active {
  background: var(--dark-gray);
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}
.header__top-bar .nav__radius li .number {
  display: inline;
  font-size: 1.6rem;
  color: var(--gray2);
  opacity: 0.5;
  font-weight: 600;
  margin-right: 10px;
}
.header__top-bar .nav__radius li .link {
  display: block;
  padding: 10px 0;
  font-size: 4rem;
  font-family: var(--Nunito);
  color: var(--gray2);
  text-decoration: none;
  cursor: pointer;
}
.header__top-bar .nav__radius li:hover .number, .header__top-bar .nav__radius li:hover .link {
  color: var(--red);
  transition: all 0.2s ease 0s;
}
.header__top-bar .nav__menu {
  height: 396px;
  overflow: auto;
}
.header__top-bar .nav__menu span::after {
  content: "\f103";
  margin-left: 5px;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 1.6rem;
  line-height: 4rem;
}
.header__top-bar .nav__menu li:hover > a, .header__top-bar .nav__menu li:hover > span {
  color: var(--red);
  transition: all 0.2s ease 0s;
}
.header__top-bar .nav__menu-link {
  display: block;
  padding: 10px 0;
  font-size: 4rem;
  font-family: var(--Nunito);
  color: var(--gray2);
  text-decoration: none;
  cursor: pointer;
}
.header__top-bar .nav__submenu {
  display: block;
  position: static;
  width: auto;
  overflow: hidden;
  border: none;
  margin: 0 !important;
  max-height: 0;
  transition: max-height 1s;
}
.header__top-bar .nav__submenu a {
  display: block;
  font-size: 3.6rem;
  text-decoration: none;
  margin-left: 20%;
  padding: 10px 0;
}
.header__top-bar .nav__submenu.active {
  max-height: 1000px;
}
.header__top-bar .nav__submenu li:hover a {
  color: var(--red);
  transition: all 0.2s ease 0s;
}
.header__top-bar .nav__submenu-link {
  display: block;
  padding: 10px 0;
  font-size: 4rem;
  font-family: var(--Nunito);
  color: var(--gray2);
  text-decoration: none;
  cursor: pointer;
}
.header__top-bar .nav__address {
  text-align: right;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-transform: uppercase;
}
.header__top-bar .nav__address h3 {
  font-size: 2rem;
  font-family: var(--Saira);
  margin: 20px 0;
  font-weight: 600;
}
.header__top-bar .nav__address p {
  font-size: 1.2rem;
  font-family: var(--Nunito);
  color: #e0e0e0;
}
.header__top-bar .nav__red.active {
  background: var(--red);
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}
.header__center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__center__name {
  position: relative;
  font-size: 2rem;
  color: var(--gray2);
  padding: 0 30px;
}
.header__center__name p::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  margin-top: -0.15rem;
  width: 1.5rem;
  height: 0.3rem;
  background: var(--gray);
}
.header__center__prof {
  margin: 20px 0 30px;
}
.header__center__prof #element {
  font-family: var(--Saira);
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}
.header__bottom {
  position: absolute;
  text-align: right;
  bottom: 20px;
  left: 0;
  width: 100%;
}
.header__bottom__mouse {
  position: relative;
  display: inline-block;
}
.header__bottom__mouse a {
  display: inline-block;
}
.header__bottom__mouse a .mouse {
  position: relative;
  width: 20px;
  height: 35px;
  border: 3px solid #fff;
  border-radius: 15px;
  animation: 2s mouse infinite;
}
.header__bottom__mouse a .mouse::before {
  content: "";
  width: 3px;
  height: 5px;
  background: #fff;
  position: absolute;
  border-radius: 1px;
  top: 25%;
  left: 50%;
  margin-left: -1.5px;
}
.header__bottom__mouse .line__point {
  position: absolute;
  top: -20px;
  right: 10px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.header__bottom__mouse .line__dashed {
  position: absolute;
  top: -20px;
  right: 12.5px;
  border-right: 1px dashed #fff;
  height: 80px;
}
@keyframes mouse {
  0%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(20px);
  }
}

.position {
  font-size: 1.6rem;
  color: #fff;
}
.position__wrap {
  margin-top: 10px;
}
.position__item {
  border-left: 3px solid var(--gray);
  display: inline-block;
  margin-right: 20px;
  padding-left: 10px;
}
.position__item p {
  padding: 5px 0;
  font-family: var(--Saira);
}
.position__item p.country {
  color: var(--gray2);
}
.position__item p.city {
  padding-left: 15px;
}

section {
  margin-top: 60px;
  position: relative;
  width: 100%;
}
section:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  top: -40px;
  left: 50%;
  background: var(--red);
}
section h2 {
  display: inline-block;
  font-size: 3.5rem;
  font-family: var(--Nunito);
  color: #9da1a5;
  position: relative;
  margin-bottom: 60px;
}
section h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 15px;
  width: 25px;
  height: 4px;
  border-radius: 0px 0 0 4px;
  background: var(--red);
}
section h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0px;
  width: 10px;
  height: 4px;
  border-radius: 0px 4px 0 0px;
  background: var(--red);
}

.about__wrap {
  display: flex;
  align-items: center;
}
.about__wrap .avatar {
  border: 1px solid var(--gray);
  background: var(--dark-gray);
}
.about__wrap .avatar__wrap {
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.about__wrap .avatar__wrap::before {
  content: "";
  background: url(../images/bg/about-shape.svg) no-repeat;
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: -32px;
  left: 7px;
  animation: 2s puls infinite;
}
.about__wrap .avatar__wrap::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 5px;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  background: var(--red);
}
@keyframes puls {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.about__wrap .avatar__img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.about__wrap .text {
  margin-left: 20px;
}
@media (max-width: 991px) {
  .about__wrap .text {
    margin-top: 25px;
  }
}
.about__wrap .text h3 {
  font-size: 2.8rem;
  font-family: var(--Saira);
  margin-bottom: 20px;
  font-weight: 600;
}
.about__wrap .text > p {
  color: var(--gray2);
  font-family: var(--Nunito);
  font-size: 1.6rem;
  margin-bottom: 30px;
  padding-right: 50px;
  line-height: 3.2rem;
}
.about__wrap .text__design .name {
  display: flex;
  justify-content: space-between;
  color: var(--gray2);
  font-size: 1.4rem;
  font-family: var(--Saira);
  font-weight: bold;
}
.about__wrap .text__design .line {
  width: 100%;
  height: 3px;
  background: var(--gray3);
  margin: 30px 0;
}
.about__wrap .text__design .line .progress {
  background: var(--red);
  height: 3px;
  width: 0%;
}

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 45px;
  text-decoration: none;
  border: 1px solid var(--gray3);
  color: var(--gray2);
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0px 30px;
  font-family: var(--Saira);
  box-sizing: border-box;
}
.link::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0%;
  height: 0%;
  top: -1px;
  left: 1px;
  box-sizing: border-box;
  border-top: 0px solid var(--red);
  border-right: 1px solid var(--red);
}
.link::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0%;
  height: 0%;
  bottom: -1px;
  right: 1px;
  box-sizing: border-box;
  border-bottom: 0px solid var(--red);
  border-left: 1px solid var(--red);
}
.link:hover::after {
  animation: 0.5s borderAf forwards;
}
.link:hover::before {
  animation: 1s borderBe forwards;
}
@keyframes borderAf {
  0% {
    border-top-width: 1px;
    width: 0%;
  }
  50% {
    border-top-width: 1px;
    width: 100%;
    height: 0%;
  }
  100% {
    border-top-width: 1px;
    width: 100%;
    height: 100%;
  }
}
@keyframes borderBe {
  50% {
    border-bottom-width: 1px;
    width: 0%;
  }
  75% {
    border-bottom-width: 1px;
    width: 100%;
    height: 0%;
  }
  100% {
    border-bottom-width: 1px;
    width: 100%;
    height: 100%;
  }
}

.services__item {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--gray2);
  font-family: var(--Nunito);
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  width: 95%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
  background: var(--dark-gray);
}
.services__item:hover {
  background: rgba(25, 26, 28, 0.3);
  transition: 0.5s;
}
.services__item:hover img {
  opacity: 0.5;
  transition: 0.5s;
}
.services__item img {
  width: 50px;
  height: auto;
  margin-bottom: 15px;
}
.services__item h3 {
  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
  font-family: var(--Saira);
  margin-bottom: 15px;
}
.services__item p {
  line-height: 2.7rem;
}
.services__client {
  border: 25px solid var(--dark-gray2);
  box-sizing: border-box;
  padding: 40px;
  margin-top: 60px;
  background: var(--dark-gray);
}
.services__client-wrap {
  margin: 10px;
}
.services__client-item {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
.services__client-item:last-child {
  border: none;
}
.services__client-item span {
  display: block;
  position: relative;
  font-size: 4rem;
  font-family: var(--Nunito);
  margin: 20px 0;
  color: var(--gray2);
}
.services__client-item span::after {
  content: "+";
  position: absolute;
  top: 50%;
  margin-top: -1.05rem;
  color: var(--red);
  font-size: 2.1rem;
}
.services__client-item p {
  font-family: var(--Saira);
  font-weight: bold;
  font-size: 2rem;
}

.global-pos:nth-child(2) {
  margin-top: 20px;
}
.global-pos:nth-child(2) .global-pos__item {
  background: var(--dark-gray2);
}
.global-pos:nth-child(2n+1) {
  margin-bottom: 20px;
}
.global-pos:nth-child(2n+1) .global-pos__item {
  background: var(--dark-gray);
}
.global-pos__item {
  box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
}

.projects__content-item {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 0 15px;
  position: relative;
}
.projects__content-item:hover img {
  filter: blur(5px);
  transition: 0.4s;
}
.projects__content-item:hover .overlay {
  opacity: 1;
  background: rgba(50, 50, 50, 0.4);
  transition: 0.4s;
}
.projects__content-item:hover .bottom {
  margin-bottom: -100px;
  transition: 0.3s;
}
.projects__content-item .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  transition: 0.4s;
}
.projects__content-item .overlay .look {
  display: block;
  background: rgba(5, 5, 5, 0.4);
  color: #fff;
  padding: 10px;
  font-size: 2rem;
  border-radius: 50%;
}
.projects__content-item .bottom {
  position: absolute;
  bottom: 30px;
  left: 45px;
}
.projects__content-item .bottom h4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: var(--Saira);
  margin-bottom: 1.5rem;
}
.projects__content-item .bottom p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray2);
  font-family: var(--Saira);
}
.projects__content-img {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}
.projects__content-img > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.projects__content-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.projects .first_tier > div {
  height: 465px;
}
.projects .second_tier > div {
  height: 435px;
}

.resume__col:nth-child(1) .resume__item, .resume__col:nth-child(1) .line {
  border-top: 3px solid var(--red);
}
.resume__col:nth-child(2) .resume__item, .resume__col:nth-child(2) .line {
  border-top: 3px solid var(--yellow);
}
.resume__col:nth-child(3) .resume__item, .resume__col:nth-child(3) .line {
  border-top: 3px solid var(--blue);
}
.resume__item {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--gray2);
  font-family: var(--Nunito);
  padding: 30px;
  box-sizing: border-box;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
  background: var(--dark-gray);
}
.resume__item::before {
  content: "";
  width: 90%;
  height: 30%;
  position: absolute;
  right: -25px;
  bottom: -30px;
  z-index: -1;
  background: url(../images/icon/dot-pattern.png) right;
  background-size: 10px;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.resume__item:hover {
  transition: 0.5s;
}
.resume__item:hover img {
  opacity: 0.5;
  transition: 0.5s;
}
.resume__item:hover::before {
  transition: all 0.5s ease 0s;
  opacity: 1;
}
.resume__item.active::before {
  transition: all 0.5s ease 0s;
  opacity: 1;
}
.resume__item img {
  width: 50px;
  height: auto;
  margin-bottom: 15px;
}
.resume__item h3 {
  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
  font-family: var(--Saira);
  margin-bottom: 15px;
}
.resume__item h4 {
  color: var(--white);
  font-weight: 600;
  margin: 20px 0 10px;
  font-size: 1.7rem;
}
.resume__item p {
  line-height: 3rem;
  font-weight: 400;
}
.resume__item .line {
  margin: 30px 0 20px;
  width: 100px;
}

.teamiteam {
  font-size: 1.6rem;
}
.teamiteam__col {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}
.teamiteam__item-img {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.teamiteam__item-img:hover img {
  filter: blur(5px);
  transition: all 0.5s ease 0s;
}
.teamiteam__item-img:hover .soc {
  bottom: 20px;
  transition: all 0.5s ease 0s;
}
.teamiteam__item-img img {
  width: 100%;
}
.teamiteam__item-img .soc {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  transition: all 0.5s ease 0s;
}
.teamiteam__item-img .soc ul {
  display: flex;
  justify-content: space-around;
}
.teamiteam__item-img .soc ul li {
  background: #1a1a1a;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
}
.teamiteam__item-img .soc ul li:hover {
  background: var(--red);
  transition: all 0.5s ease 0s;
}
.teamiteam__item-img .soc ul li a {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
}
.teamiteam__info {
  padding: 20px 0 20px 20px;
}
.teamiteam__info p {
  padding-bottom: 10px;
  font-weight: bold;
}
.teamiteam__info p.name {
  font-size: 2rem;
}
.teamiteam__info p.profession {
  color: var(--gray2);
}

.soc ul {
  display: flex;
  justify-content: center;
}
.soc ul li {
  background: var(--dark-gray2);
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
  font-size: 1.6rem;
}
.soc ul li:hover {
  background: var(--red);
  transition: all 0.5s ease 0s;
}
.soc ul li a {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
}

.blogs__col:nth-child(1) > div::before {
  border-color: var(--red);
}
.blogs__col:nth-child(2) > div::before {
  border-color: var(--yellow);
}
.blogs__col:nth-child(3) > div::before {
  border-color: var(--blue);
}
.blogs__item {
  position: relative;
}
.blogs__item:hover::before {
  width: 100%;
  transition: all 0.5s ease 0s;
}
.blogs__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid #333;
  transition: all 0.5s ease 0s;
}
.blogs__item-img {
  position: relative;
  width: 100%;
  height: 235px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.blogs__item-img:hover::before {
  left: 175%;
  transition: all 1s ease 0s;
}
.blogs__item-img::before {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}
.blogs__item-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.blogs__info {
  font-size: 1.6rem;
  padding: 10px 20px;
}
.blogs__info a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.5s ease 0s;
}
.blogs__info a:hover {
  color: var(--red);
  transition: all 0.5s ease 0s;
}
.blogs__info a h3 {
  margin: 10px 0;
  font-size: 2rem;
  font-family: var(--Saira);
  font-weight: bold;
}
.blogs__info p {
  line-height: 2;
  word-spacing: 0.4rem;
  padding-right: 14px;
  font-family: var(--Nunito);
  color: var(--gray2);
  font-weight: 600;
}

.touch__row {
  text-align: center;
  padding: 0;
}
.touch__wrap {
  box-sizing: border-box;
  border: 1px solid var(--gray);
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  padding: 20px;
}
.touch__wrap > div {
  margin-bottom: 20px;
}
.touch__wrap h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}
.touch__wrap p, .touch__wrap li {
  color: var(--gray2);
}
.touch__wrap span {
  display: block;
}
.touch__form input, .touch__form textarea {
  margin-top: 20px;
  background: transparent;
  border: 1px solid var(--gray);
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  font-family: var(--Nunito);
  padding: 15px 0;
  outline: var(--red);
  color: #fff;
}
.touch__form textarea {
  width: 100%;
  resize: none;
  height: 103px;
}
.touch__form .btn {
  margin-top: 10px;
  position: relative;
  padding: 10px 50px;
  background: var(--red);
  color: #fff;
  border: none;
  font-family: var(--Nunito);
  font-weight: bold;
  font-size: 1.8rem;
  background-image: linear-gradient(#222, #222);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-size 0.5s, color 0.5s;
}
.touch__form .btn:hover {
  background-size: 0% 100%;
}
.touch__form .btn i {
  font-size: 1.4rem;
}
.touch__soc {
  margin: 60px 0;
}

.footer {
  overflow-x: hidden;
  position: relative;
  font-family: var(--Saira);
  font-size: 1.6rem;
  background: #222;
  border-top: 1px solid var(--gray);
  padding: 20px 0;
}
.footer::after {
  content: "";
  width: 80px;
  height: 2px;
  background: var(--red);
  position: absolute;
  top: -1px;
  left: 0;
  animation: 10s run_line infinite;
}
@keyframes run_line {
  0% {
    left: -10%;
  }
  50% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}
.footer__row {
  align-items: center;
}
.footer__row .email {
  text-align: right;
}
.footer__row .email p {
  display: inline-block;
}
.footer__row .email__wrap {
  display: inline-block;
  position: relative;
}
.footer__row .email__wrap label {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 1.6rem;
  margin-top: -0.8rem;
  color: var(--gray3);
}
.footer__row .email__wrap input {
  background: transparent;
  padding: 10px 5px;
  border: 1px solid var(--gray);
}

@media (min-width: 1400px) {
  .container {
    width: 1140px;
  }
}
.nav__icon {
  z-index: 100;
  height: 36px;
  display: flex;
  padding: 0px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.nav__icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 20px;
  background: #fff;
  opacity: 1;
  left: 10px;
  margin-top: 8px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  transform-origin: left center;
}
.nav__icon span:nth-child(1) {
  top: 0px;
}
.nav__icon span:nth-child(2) {
  top: 8px;
  left: 2px;
}
.nav__icon span:nth-child(3) {
  top: 16px;
}
.nav__icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 9px;
}
.nav__icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav__icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 14px;
  left: 9px;
}/*# sourceMappingURL=style.css.map */