@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
/* Цвета */
	--red: #ff3d4f;
	--black: #000000;
	--dark-gray: #191a1c;
	--gray:#323232;
	--gray2:#9da1a5;
	--gray3:#555;
	--white: #ffffff;
/* Шрифты */
	--Saira:'Saira', sans-serif;
	--Nunito: 'Nunito', sans-serif;
	--Roboto:  'Roboto', sans-serif;

}
html{
	font-size: 10px;
	font-family: var(--Roboto);
}
body{
background-color: #191a1c;
	background-image: url(../images/bg/bg-paterns.png),url("../images/bg/line-maker.svg");
	background-position: 50% 0%, 1.3% 100%;
	background-repeat: repeat-y, repeat;
	position: relative;
	color: var(--white);
}
html,
body{
	height: auto;
}



.welcome{
	position: absolute;
	background: var(--dark-gray) url(../images/bg/line-maker.svg) center center repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
	color: var(--gray);
	height: 100vh;
	width: 100%;
	font-family: var(--Saira);
	font-weight: 800;
	font-size: 30rem;
	text-transform: uppercase;
	overflow: hidden;
/*	display: none;*/
}
.welcome p{
	opacity: 0.2;
}
.welcome .intro{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	
}
.welcome .intro .welcomeBtn{
	overflow: hidden;
	position: relative;
	font-family: var(--Saira);
	text-transform: uppercase;
	border: 2px solid var(--white);
	padding: 25px 45px;
	font-weight: bold;
	letter-spacing: 6px;
	font-size: 1.2rem;
	background: rgba(0, 0, 0, .0);
	color: var(--white);
	cursor: crosshair;
	transition: 0.8s ease-out;
	z-index: 1;
}

.welcome .intro .welcomeBtn::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background: var(--white);
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: -50%;
	transition: 1s;
	z-index: -1;
}
.welcome .intro .welcomeBtn.active{
	opacity: 1;
	animation: 2s btnWel forwards;
}
.welcome p.active{
	animation: 2s btnWel forwards;
	opacity: 0.2;
}

@keyframes btnWel{
	0%{
		margin-top: 0px;
	}
	50%{
		margin-top: -150px;
		opacity: 0;
	}
	100%{
		margin-top: -200vh;
		opacity: 0;
	}
}

.welcome .intro .welcomeBtn:hover::before{
	margin-bottom: 0% !important;
	transition: 1.5s;
}
.welcome .intro .welcomeBtn:hover{
	color: var(--black);
}
.welcome.active{
	margin-top: -100vh;
	transition: 1s;
}

.crossing{
	position: absolute;
	background: var(--red);
	width: 100%;
/*	height: 0vh;*/
	height: 5px;
	top: 100vh;
}
.crossing.active{
	top: 0vh;
	height: 100vh;
	transition: 0.5s;
}

.wrap{
	position: relative;
	cursor: url('../images/cursor8x8.cur') 7 7, auto;
	height: 7000px;
/*	background: url(../images/bg/line-maker.svg) center center repeat;*/
}

.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid var(--white);
    border-radius: 50%;
    position: absolute;
    margin: 4px 0 0 4px;
    left: -100px;

/*    transition-duration: 200ms;*/

    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 99;
}
@keyframes cursorAnim{
		0%{
		width: 35px;
		height: 35px;
		
	}
	100%{
		width: 45px;
		height: 45px;
		margin-top: 0px;
		margin-left: 0px;

	}
}
.cursor:after {
	content: "";
	width: 5px;
	height: 5px;
	top: 6px;
	left: 6px;
	position: absolute;
	border: 8px solid gray;
	border-radius: 50%;
	opacity: .5;
	animation: cursorAnim2 .5s infinite alternate;
}
@keyframes cursorAnim2{
	0%{
		top: 6px;
		left: 6px;
		width: 2px;
		height: 2px;
		border-width: 10px;
	}
	100%{
		top: 6px;
		left: 6px;
		width: 5px;
		height: 5px;
		border-width: 14px;
	}
	
}
header{
	background: var(--black) url(../images/headerbg.jpg) center center no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}
header::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(23, 22, 24, .4);
}
header .head_top{
	padding: 0px 15px 0;
	height: 70px;
	align-content: center;
}
header .logo img{
	margin-top: 1px;
	width: 100px;
}
header .bar{
	text-align: right;
}
#fixedBar{
	position: fixed;
	width: 100%;
	z-index: 99;
}
header .logo,
header .bar{
	padding: 0;
}
section{
	margin-top: 60px;
	position: relative;
	width: 100%;
}
section::before{
	content: "";
	position: absolute;
	width: 1px;
	height: 40px;
	top: -40px;
	left: 50%;
	background: var(--red);
}
section h2{
	display: inline-block;
	font-size: 3.5rem;
	font-family: var(--Nunito);
	color: #9da1a5;
	position: relative;
	margin-bottom: 60px;
}
section h2::after{
	content: '';
	position: absolute;
	bottom: -10px;
	right: 15px;
	width: 25px;
	height: 4px;
	border-radius: 0px 0 0 4px;
	background: var(--red);
}
section h2::before{
	content: '';
	position: absolute;
	bottom: -10px;
	right: 0px;
	width: 10px;
	height: 4px;
	border-radius: 0px 4px 0 0px;
	background: var(--red);
}
#about .wrap_about{
	display: flex;
	align-items: center;
}
#about .avatar{
	border: 1px solid var(--gray);
	background: var(--dark-gray);

}
#about .avatar .photo{
	padding: 20px;
	position: relative;
}
#about .avatar .photo .avatar_img{
	position: relative;
	z-index: 1;
}
#about .avatar .photo::before{
	content: "";
	background: url(../images/bg/about-shape.svg) no-repeat;
	position: absolute;
	width: 300px;
	height: 300px;
	bottom: -32px;
	left: 7px;
	animation: 2s puls infinite;
}
@keyframes puls{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
#about .avatar .photo::after{
	content: "";
	position: absolute;
	width: 300px;
	height: 5px;
	bottom: 20px;
	left: 20px;
	z-index: 2;
	background: var(--red);
}
#about .text{
	margin-left: 20px;
}
#about .text h3{
	font-size:2.8rem;
	font-family: var(--Saira);
	margin-bottom: 20px;
	font-weight: 600;
}
#about .text > p{
	color: var(--gray2);
	font-family: var(--Nunito);
	font-size: 1.6rem;
	margin-bottom: 30px;
	padding-right: 50px;
	line-height: 3.2rem;
}
#about .text a{
	position: relative;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	height: 45px;
	text-decoration: none;
	border: 1px solid var(--gray3);
	color: var(--gray2);
	font-weight: 500;
	font-size: 1.3rem;
	padding: 0px 30px;
	font-family: var(--Saira);
	box-sizing: border-box;
}
#about .text a::after{
	content: '';
	position: absolute;
	z-index: 2;
	width: 0%;
	height: 0%;
	top: 0px;
	left: 0px;

	box-sizing: border-box;
	border-top: 0px solid var(--red);
	border-right: 2px solid var(--red);
}
#about .text a::before{
	content: '';
	position: absolute;
	z-index: 2;
	width: 0%;
	height: 0%;
	bottom: 0px;
	right: 0px;

	box-sizing: border-box;
	border-bottom: 0px solid var(--red);
	border-left: 1px solid var(--red);	
}
#about .text a:hover::before{
	animation: 2s borderBe forwards;
}
#about .text a:hover::after{
	animation: 1s borderAf forwards;
}
@keyframes borderAf{
	0%{
		border-top-width: 1px;
		width:0%;
	}
	50%{
		border-top-width: 1px;
		width: 100%;
		height: 0%;
	}
	100%{
		border-top-width: 1px;
		width: 100%;
		height: 100%;
	}
}
@keyframes borderBe{
	0%{
	}
	50%{
		border-bottom-width: 1px;
		width:0%;
	}
	75%{
		border-bottom-width: 1px;
		width: 100%;
		height: 0%;		
	}
	100%{
		border-bottom-width: 1px;
		width: 100%;
		height: 100%;
	}
}
#about .design .name{
	display: flex;
	justify-content: space-between;
	color: var(--gray2);
	font-size: 1.4rem;
	font-family: var(--Saira);
	font-weight: bold;
}
#about .design .line{
	width: 100%;
	height: 3px;
	background: var(--gray3);
	margin: 30px 0;
}
#about .design .line .progress{
	background: var(--red);
	height: 3px;
	width: 0%;
}
@media (min-width: 576px) and (max-width: 767px){

}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 1200px) and (max-width: 1399px){

}
@media (min-width: 1400px){
	.container{
		width: 1140px;
	}
}





/*menu burger bar ****start**** */
#nav_icon {
    height: 36px;
    display: flex;
    padding: 0px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}
#nav_icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 20px;
    background: #fff;
    opacity: 1;
    left: 10px;
    margin-top: 8px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#nav_icon span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}
#nav_icon span:nth-child(2) {
    top: 8px;
    left: 2px;
    transform-origin: left center;
}
#nav_icon span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
}
#nav_icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 9px;
}
#nav_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#nav_icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 14px;
    left: 9px;
}
/*menu burger bar ****end**** */

.nicescroll-rails.none{
	opacity: 0;
}
.nicescroll-rails div{
	background: var(--red) !important;
	display: none !important;

}
.nicescroll-rails div.active{
	display: block !important;
}